{% extends "../tmpl/layout.twig" %}
{% set title = "Manage Memes | Admin Panel" %}
{% set logged_in = true %}
{% set is_admin = true %}
{% set nav_selected = "admin" %}

{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/admin_zone/admin.css">
    <link rel="stylesheet" href="/public/stylesheets/tag_input.css">
    <link rel="stylesheet" href="/public/stylesheets/admin_zone/manage_memes.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>All memes</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Unique Key</th>
                        <th scope="col">Title</th>
                        <th scope="col">Image URL</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for meme in memes %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td><a href="/meme/{{ meme.key }}">{{ meme.key }}</a></td>
                        <td>{{ meme.title }}</td>
                        <td><img src="{{ meme.mediaLink }}" width="30%"></td>
                        <td>
                            <div class="dtag-input-tags">
                                {% for keyword in meme.keywords %}
                                    <span class="dtag-input-tag">
                                        <span class="dtag-unremovable">&nbsp;{{ keyword }}&nbsp;</span>
                                    </span>
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm">Edit</button>
                            <button class="btn btn-outline-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}