{% extends "../tmpl/layout.twig" %}
{% set title = "Manage Memes | Admin Panel" %}
{% set logged_in = true %}
{% set is_admin = true %}
{% set nav_selected = "admin" %}

{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/admin_zone/admin.css">
    <link rel="stylesheet" href="/public/stylesheets/tag_input.css">
    <link rel="stylesheet" href="/public/stylesheets/admin_zone/manage_memes.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="row" style="text-align: center; margin-bottom: 2.5%">
                <div class="col">
                    <button class="btn btn-outline-dark" {% if page == 1 %}hidden{% endif %}
                            onclick="window.location.href = '/meme/browse/{{ page - 1 }}'">
                        <i class="material-icons" style="margin: 0 auto">navigate_before</i>
                    </button>
                </div>
                <div class="col">
                    Page: {{ page }}
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark"{% if memeCount < 25 %}hidden{% endif %}
                            onclick="window.location.href = '/meme/browse/{{ page + 1 }}'">
                        <i class="material-icons" style="margin: 0 auto">navigate_next</i>
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Unique Key</th>
                        <th scope="col">Title</th>
                        <th scope="col">Image URL</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for meme in memes %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td><a href="/meme/{{ meme.key }}">{{ meme.key }}</a></td>
                            <td>{{ meme.title }}</td>
                            <td><img src="{{ meme.mediaLink }}" width="100%"></td>
                            <td>
                                <div class="dtag-input-tags">
                                    {% for keyword in meme.keywords %}
                                        <span class="dtag-input-tag">
                                        <span class="dtag-unremovable">&nbsp;{{ keyword }}&nbsp;</span>
                                    </span>
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-outline-primary btn-sm">Edit</button>
                                <button class="btn btn-outline-danger btn-sm" onclick="deleteMeme('{{ meme.key }}')">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row" style="text-align: center; margin-top: 2.5%">
                <div class="col">
                    <button class="btn btn-outline-dark" {% if page == 1 %}hidden{% endif %}
                            onclick="window.location.href = '/meme/browse/{{ page - 1 }}'">
                        <i class="material-icons" style="margin: 0 auto">navigate_before</i>
                    </button>
                </div>
                <div class="col">
                    MEeee<span style="color: red">eee</span>eeeME
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark"{% if memeCount < 25 %}hidden{% endif %}
                            onclick="window.location.href = '/meme/browse/{{ page + 1 }}'">
                        <i class="material-icons" style="margin: 0 auto">navigate_next</i>
                    </button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function deleteMeme(key) {
            $.ajax({
                url: "/admin/manage/memes/" + key + "/delete",
                method: "DELETE",
                success: function(res) {
                    alert(res);
                    window.location.reload();
                }, error: function(xhr) {
                    alert(xhr.responseText);
                }
            })
        }
    </script>
{% endblock %}