{% extends "../tmpl/layout.twig" %}
{% set title = "Browse memes" %}


{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/tag_input.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    Page: {{ page }}
                </div>
            </div>
            <h1>Browse memes</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Image URL</th>
                    <th scope="col">Tags</th>
                </tr>
                </thead>
                <tbody>
                {% for meme in memes %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td><a href="/meme/{{ meme.key }}">{{ meme.title }}</a></td>
                        <td><img src="{{ meme.mediaLink }}" width="30%"></td>
                        <td>
                            <div class="dtag-input-tags">
                                {% for keyword in meme.keywords %}
                                    <span class="dtag-input-tag">
                                        <span class="dtag-unremovable">&nbsp;{{ keyword }}&nbsp;</span>
                                    </span>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block js %}
{% endblock %}