{% extends "../tmpl/layout.twig" %}
{% set title = "Edit meme" %}
{% set logged_in = true %}

{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/tag_input.css">
    <link rel="stylesheet" href="/public/stylesheets/meme_zone/editMeme.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Edit your meme</h1>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Title</span>
                </div>
                <input type="text" class="form-control" placeholder="{{ meme.title }}"
                       id="title" value="{{ meme.title }}">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Tags</span>
                </div>
                <input type="text" class="form-control tag-input" placeholder="Tags" id="tags">

            </div>

            <div class="input-group txta">
                <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                </div>
                <textarea class="form-control" placeholder="{{ meme.description }}" id="description">{{ meme.description }}</textarea>
            </div>

            <button class="btn btn-primary" type="submit" id="submitMeme">Submit meme!</button>

            <div class="alert alert-danger alert-dismissible fade show ajaxReply" role="alert" hidden>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="/public/javascripts/tag_input.js"></script>
    <script>
        $(document).ready(function() {
            {% for tag in meme.keywords %}
            dtag_tags.push('{{ tag }}');
            $(".dtag-input-tags").append(
                '<span class="dtag-input-tag">' +
                '<span class="dtag-val">{{ tag }}</span>' +
                '<span class="dtag-deltag">&nbsp; &times;</span>' +
                '</span>');
            {% endfor %}

            $("#submitMeme").hide();

            var initialTitle = '{{ meme.title }}';
            var initialTags = dtag_tags;
            var initialDescription = '{{ meme.description }}';
            $(document).on('keypress', function(e) {
                if ($("#title").val() !== initialTitle
                    || dtag_tags !== initialTags
                    || $("#description").val() !== initialDescription) {
                    $("#submitMeme").show();
                } else {
                    $("#submitMeme").hide();
                }
            });

            $("#submitMeme").click(function() {
                $.ajax({
                    url: "/meme/{{ meme.key }}/update",
                    method: "PUT",
                    data: {
                        newTitle: $("#title").val(),
                        newTags: dtag_tags.join(),
                        newDescription: $("#description").val()
                    },
                    success: function(res) {
                        console.log(res);
                        debugger;
                        window.location.href = "/meme/{{ meme.key }}"
                    },
                    error: function(xhr) {
                        $(".ajaxReply").html(xhr.responseText);
                    }
                });
            })
        });
    </script>
{% endblock %}