{% extends "../tmpl/layout.twig" %}

{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/meme_zone/memeView.css">
    <link rel="stylesheet" href="/public/stylesheets/tag_input.css">
{% endblock %}

{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="memeZoom" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{ url }}" width="100%">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <a href="#" onclick="window.history.back();">&lsaquo; Back</a>
                </div>

                {% if isCurrentUser %}
                    <div class="col">
                        <div class="dropleft">
                            <i class="material-icons"
                               data-toggle="dropdown" id="dropDown">more_horiz</i>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Edit post</a>
                                <a class="dropdown-item danger" href="/meme/{{ key }}/delete">Delete post</a>
                            </div>
                        </div>
                    </div>

                {% endif %}

            </div>


            <h1>{{ title }}</h1>
            <p>Submitted by <i>{{ user }} {% if isCurrentUser %} (you) {% endif %}</i></p>
            <p>Tags</p>
            <div class="dtag-input-tags">
                {% for tag in tags %}
                <span class="dtag-input-tag">
                    <span class="dtag-val">{{ tag }}</span>
                </span>
                {% endfor %}
            </div>
            <p>Description: {{ desc }}</p>
            <img src="{{ url }}" width="35%" data-toggle="modal" data-target="#memeZoom" id="meme">
        </div>
    </div>

{% endblock %}