{% extends "../tmpl/layout.twig" %}

{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/meme_zone/memeView.css">
    <link rel="stylesheet" href="/public/stylesheets/tag_input.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">

            {% if isCurrentUser %}
            <div class="dropleft">
                <i class="material-icons"
                   data-toggle="dropdown" id="dropDown">more_horiz</i>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Edit post</a>
                    <a class="dropdown-item danger" href="/meme/{{ key }}/delete">Delete post</a>
                </div>
            </div>
            {% endif %}

            <h1>{{ title }}</h1>
            <p>Submitted by <i>{{ user }} {% if isCurrentUser %} (you) {% endif %}</i></p>
            <p>Tags</p>
            <div class="dtag-input-tags">
                {% for tag in tags %}
                <span class="dtag-input-tag">
                    <span class="dtag-val">{{ tag }}</span>
                </span>
                {% endfor %}
            </div>
            <p>Description: {{ desc }}</p>
            <img src="{{ url }}" width="35%">
        </div>
    </div>

{% endblock %}