{% extends "../tmpl/layout.twig" %}
{% set title = "Search Results" %}
{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/meme_zone/searchEngine.css">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>MemeSearch&trade;</h1>
            <p>Powered by
                Machine Learning&trade;, ElasticSearch&trade;, Big Data&trade;,
                Google BigQuery&trade;, MongoDB&reg;, Node.JS&reg;, Robert's ProfessionalSearchEngineMakingSkills&reg;,
                Coding&trade; and Algorithms&trade;, Blizzard Entertainment&reg;, Weeb&trade;, AI&trade;,
                Google Cloud&trade;, DigitalOcean&trade; Crowdsourcing&trade;, <b>Open Source&trade;</b>,
                Blockchain&trade;, Distributed Ledgers&trade; SCRUM&trade; Express.js&trade;, NoSQL&trade;, Agile Methodology&trade;</p>
            <div class="row">
                <div class="col">
                    <a href="#" onclick="window.history.back();">&lsaquo; Back</a>
                </div>
                <div class="col ta-r">
                    <span>Query time: {{ memes|length }} result{% if memes|length != 1  %}s{% endif %}: {{ searchTime }}ms</span>
                    |
                    <span>DOM load time: <span class="loadTime"></span>ms</span>
                </div>
            </div>
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search user-submitted memes" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit" onclick="searchMeme()">Search</button>
                </div>
            </div>

            <div id="noResultsMsg" hidden>
                <h1>Big oof</h1>
                <h2>There are no memes with that title, description or tag</h2>
                <p class="hint">Hint: I can't search for partial words!
                    <br>E.g. if the title is "Acoolmeme", simply searching for "meme" won't work!</p>
            </div>

            <div class="results">
                {% for result in memes %}
                    <div class="meme-result">
                        <p>
                            <span class="meme-title"><a href="/meme/{{ result.key }}">{{ result.title }}</a></span>
                            <span class="meme-desc">{{ result.description }}</span>
                        </p>

                        <img src="{{ result.mediaLink }}" width="10%" class="meme-img">
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/public/javascripts/searchResults.js"></script>
    <script src="/public/javascripts/search.js"></script>
{% endblock %}